header{
    background-color: rgb(248, 133, 51);
}
.smoothies {
    background-color: #e0e0e0;
}
.about {
    background-color: #16806c
}
.products{
    background-color: #c3481a;
}
.instagram { background-color: #cccccc
}
.footer-top {
    background-color: #f8dcb6
}
.footer-bottom {
    background-color: #6b291a
}
.lot01 {
    background-color: #632b1c
}
.lot02 {
    background-color: #198370
}
.lot03 {
    background-color: #fab23d
}
.lot04 {
    background-color: #c0481a
}
.testimonials {
    background-color: #632b1c;
}